<p>Dear {{ name }},</p>

<p>Please activate your account for {{ email }} by clicking the link below:</p>

<p><a href='{{ path }}'>{{ path }}</a></p>
<p>Once you activate, you can login!</p>
<p>For further information regarding activation of your account and support, please contact us at email: jibon.py@gmial.com  / Cell: +88 0198-7132107</p>
<p>For any complain, please contact with Mr. Jibon Ahmed, email: jibon.py@gmial.com</p>
<p>Thank you for being with us and stay connected.</p>
<p>Learn with Jibon</p>


