{% extends 'accounts/base_account.html' %}
{% block title %} Sign in {{ block.super }} {% endblock title %}
{% block content %}

    <section class="main-section">
        <div class="container">
            <h3 class="text-center mt-3 font-weight-bold">
                <a href="{% url 'home' %}">
                    Wild Orange Restaurant
                </a>
            </h3>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-4">
                    <!-- Message -->
                    <div class="text-center">
                        {% if messages %}
                            <div class="alert alert-success messages alert-dismissable">
                                {% for message in messages %}
                                    <button type="button"{% if message.tags %}
                                            class="{{ message.tags }} close"{% endif %}
                                            data-dismiss="alert" aria-hidden="true">
                                        &times;
                                    </button>
                                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                    {{ message }}
                                    <br/>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="card">
                        <div class="card-body pb-2">
                            <!-- Signup form --->
                            <form method="POST" class="mt-2">
                                {% csrf_token %}
                                <div class="form-row">
                                    <!-- First Name-->
                                    <div class="col-6 form-group">
                                        <input type="text" class="form-control" placeholder="First name"
                                               name="first_name">
                                        {{ form.first_name.errors }}
                                    </div>
                                    <!-- Last Name -->
                                    <div class="col-6 form-group">
                                        <input type="text" class="form-control" placeholder="Last name"
                                               name="last_name">
                                        {{ form.last_name.errors }}
                                    </div>
                                </div>
                                <!-- Email-->
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="E-mail address" name="email">
                                    {{ form.email.errors }}
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Phone number"
                                           name="contact_number">
                                    {{ form.contact_number.errors }}
                                </div>
                                <div class="form-row">
                                    <!-- Gender -->
                                    <div class="form-group col-md-6">
                                        <select class="form-control" name="gender">
                                            <option value="M" selected>Male</option>
                                            <option value="F">Female</option>
                                            <option value="O">Other</option>
                                        </select>
                                        {{ form.gender.errors }}
                                    </div>
                                    <!-- Date of Birth: -->
                                    <div class="form-group col-md-6">
                                        <input type="date" class="form-control"
                                               placeholder="Date of birth" name="date_of_birth">
                                        {{ form.date_of_birth.errors }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password" placeholder="Create password"
                                           name="password">
                                    {{ form.password.errors }}
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password" placeholder="Confirm password"
                                           name="password2">
                                    {{ form.password2.errors }}
                                </div>
                                <div class="form-group">
                                    <label class="checkbox-inline"><input type="checkbox" required="required">
                                        I accept the
                                        <a href="#">Terms and Conditions</a> &amp;
                                        <a href="#">Privacy Policy</a>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Register
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <p class="text-center mt-2">Already have an account?
                        <a href="{% url 'login' %}" class="ml-3">
                            <strong class="font-weight-bold" style="font-size: 18px">Sign In</strong>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}