{% extends 'accounts/base_account.html' %}
{% block title %}Password changed! {{ block.super }} {% endblock title %}


{% block content %}

    <div class="main-section">
        <div class="container">
            <h2 class="text-center font-weight-bold my-4">
                <a href="{% url 'home' %}">
                     Wild Orange Restaurant
                </a>
            </h2>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="card pb-3">
                        <div class="card-body">
                            <h3 class="card-title text-center">Password changed!</h3>
                            <div class="alert alert-success" role="alert">
                                You have successfully changed your password! You may now proceed to log in.
                            </div>
                            <a href="{% url 'login' %}" class="btn btn-primary btn-block">Return to log in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
