{% extends 'accounts/base_account.html' %}
{% block title %} Change password successful {{ block.super }} {% endblock title %}


{% block content %}

    <div class="main-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-md-5 col-lg-5 col-lg-5 mx-auto">
                    <div class="card">
                        <h3 class="text-center mt-3 font-weight-bold">
                            <a href="{% url 'home' %}">
                                Wild Orange Restaurant
                            </a>
                        </h3>
                        <div class="card-body pb-2">
                            <div class="alert alert-success" role="alert">
                                <strong>Success!</strong> Your password has been changed!
                            </div>
                            <h6 class="text-center">
                                <a href="{% url 'login' %}" class="btn btn-primary my-2 btn-block">Return to Login</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
