{% extends 'accounts/base_account.html' %}
{% block title %} Change password {{ block.super }} {% endblock title %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}

    <div class="main-section">
        <div class="container">
            <h3 class="text-center font-weight-bold mt-3">
                <a href="{% url 'home' %}">
                     Wild Orange Restaurant
                </a>
            </h3>
            <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  mb-5">
                    <div class="card">
                        <div class="card-body mx-2">
                            <form method="post" novalidate>
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-primary btn-block">Change password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
