{% extends 'accounts/base_account.html' %}

{% block title %}
    {% if validlink %}
        Change password for {{ form.user.username }}
    {% else %}
        Reset your password
    {% endif %}
{% endblock %}

{% block content %}
    <div class="main-section">
        <div class="container">
            <h2 class="text-center font-weight-bold my-2">
                <a href="{% url 'home' %}">
                     Wild Orange Restaurant
                </a>
            </h2>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <!-- Message -->
                    <div class="text-center">
                        {% if messages %}
                            <div class="alert alert-success messages alert-dismissable">
                                {% for message in messages %}
                                    <button type="button"{% if message.tags %}
                                            class="{{ message.tags }} close"{% endif %}
                                            data-dismiss="alert" aria-hidden="true">
                                        &times;
                                    </button>
                                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                    {{ message }}<br/>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="card">
                        <div class="card-body">
                            {% if validlink %}
                                <h5 class="text-center mb-3">Change password for {{ request.user.email }}</h5>
                                <form method="post" novalidate>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="password" name="new_password1" class="form-control my-2"
                                               placeholder="New password" required id="id_new_password1"/>
                                        <small class="form-text text-muted">
                                            <ul style="list-style: none">
                                                <li>Your register can&#39;t be too similar to your other personal
                                                    information.
                                                </li>
                                                <li>Your register must contain at least 8 characters.</li>
                                                <li>Your register can&#39;t be a commonly used register.</li>
                                                <li>Your register can&#39;t be entirely numeric.</li>
                                            </ul>
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="new_password2" class="form-control"
                                               placeholder="Conform new password" required id="id_new_password2"/>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Change register</button>
                                </form>
                            {% else %}
                                <h3 class="card-title">Reset your password</h3>
                                <div class="alert alert-danger" role="alert">
                                    It looks like you clicked on an invalid password reset link. Please try again.
                                </div>
                                <a href="{% url 'password_reset' %}" class="btn btn-primary btn-block">
                                    Request a new password reset link
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
