{% extends 'accounts/base_account.html' %}
{% block title %}Reset password {{ block.super }} {% endblock title %}

{% block content %}

    <div class="main-section">
        <div class="container">
            <h2 class="text-center font-weight-bold my-2">
                <a href="{% url 'home' %}">
                    <span class="wild mx-1">Wild</span> <span class="orange">Orange</span>
                </a>
            </h2>
            <div class="row justify-content-center">
                <div class="col-sm-8 col-md-5 col-lg-5 col-xl-5">
                    <!-- Message -->
                    <div class="text-center">
                        {% if messages %}
                            <div class="alert alert-success messages alert-dismissable">
                                {% for message in messages %}
                                    <button type="button"{% if message.tags %}
                                            class="{{ message.tags }} close"{% endif %}
                                            data-dismiss="alert" aria-hidden="true">
                                        &times;
                                    </button>
                                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                    {{ message }}<br/>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="card">
                        <div class="card-body pb-4">
                            <h3 class="card-title text-center">Reset your password</h3>
                            <p class="text-justify text-center">
                                Enter your email address and we will send you a link to reset your password.
                            </p>
                            <!------ Custom Design -------->
                            <form method="post" novalidate>
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="email" name="email" maxlength="254" class="form-control"
                                           placeholder="Enter your email address to reset your password" required
                                           id="id_email"/>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">
                                    Send password reset email
                                </button>
                            </form>
                            <!---- End Custom Design --->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
