{% extends 'accounts/base_account.html' %}
{% block title %} Reset your password {{ block.super }}  {% endblock title %}

{% block content %}

    <div class="main-section">
        <div class="container">
            <h3 class="text-center font-weight-bold my-3">
                <a href="{% url 'home' %}">
                     Wild Orange Restaurant
                </a>
            </h3>
            <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 col-xl-5">
                    <div class="card pb-3">
                        <div class="card-body">
                            <h3 class="card-title text-center">Reset your password</h3>
                            <p class="text-justify text-center">
                                Check your email for a link to reset your password. If it doesn't appear within a few
                                minutes, check your spam folder.
                            </p>
                            <a href="{% url 'login' %}" class="btn btn-primary btn-block">
                                Return to log in
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
