{% extends 'base.html' %}

{% block title %}Cookies {% endblock %}

{% block content %}

    <div class="container-xxl py-5">
        <div class="container">
            <h3 class="text-center font-weight-bold">Cookies</h3>
            <hr>
            {% if cookie %}
                <div class="row g-5 align-items-center">
                    <div class="col col-12 mb-4">
                        <p>{{ cookie.description }}</p>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col col-12 mb-4">
                        <hr>
                        <h5 class="text-center">No Cookies Data Available!</h5>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


{% endblock content %}



